:root {  
  
  /* Scale */
  
  --ratio: 1.41414;
  
  --s0: 1rem;
  
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
  
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
	--s-5: calc(var(--s-4) / var(--ratio));

  --measure: 60ch;
  
  
  
  /* Type */
	
	--fnt-sans: 'Inter var experimental', 'Inter var', Inter;
	
	--size-xs: calc(var(--s0) * 0.75);
	--size-s: calc(var(--s0) * 0.875);
	--size: var(--s0);
	--size-l: calc(var(--s0) * 1.125);
	--size-xl: var(--s1);
	--size-xxl: var(--s2);

  /* ls default at -0.011em + b variable set to 0.55 */
  --t0: normal; /* -0.011em; */
  --t1: -0.019em;
  --t2: -0.025em;
  --t3: -0.033em;
  
  --wght: 400;
  --wght-medium: 520;
	--wght-strong: 640;
	
	--wght-title: var(--wght-strong);
  
  
  
  /* Color */

	--tru-wite: #ffffff;
	--tru-blk: #000000;

  /* primer gray h+4 */
  --white: hsla(210, 25%, 98%, 1);
  --ghost-white: hsla(216, 33%, 97%, 1);
  --gainsboro: hsla(223, 13%, 90%, 1);
  --light-gray: hsla(220, 11%, 83%, 1);
  --manatee: hsla(219, 9%, 62%, 1);
  --black-coral: hsla(221, 8%, 45%, 1);
  --black-coral-2: hsla(222, 9%, 38%, 1);
  --charcoal: hsla(218, 12%, 30%, 1);
  --gunmetal: hsla(219, 13%, 21%, 1);
  --raisin-black: hsla(216, 12%, 16%, 1);
	--raisin-black-2: hsla(220, 14%, 12%);

  /* friendlier */
  --wite: var(--white);
  --wite-ish: var(--ghost-white);
  --gray-litest: var(--gainsboro);
  --gray-liter: var(--light-gray);
  --gray-lite: var(--manatee);
  --gray: var(--black-coral);
  --gray-dark: var(--black-coral-2);
  --gray-darker: var(--charcoal);
  --gray-darkest: var(--gunmetal);
  --blk-ish: var(--raisin-black);
	--blk: var(--raisin-black-2);

	--darkest: var(--tru-blk);
	--dark: var(--blk);
	--ntrl-dark: var(--gray-darker);
	--ntrl: var(--gray);
	--ntrl-lite: var(--gray-lite);
	--ntrl-liter: var(--gray-liter);
	--ntrl-litest: var(--gray-litest);
	--lite: var(--wite);
	--litest: var(--tru-white);

	--bg: var(--litest);
	--bg-dark: var(--lite);
	--bg-darker: var(--ntrl-litest);

	--fg-darkest: var(--darkest);
	--fg-dark: var(--dark);
	--fg: var(--ntrl-dark);
	--fg-lite: var(--ntrl);
	--fg-liter: var(--ntrl-lite);
	--fg-litest: var(--ntrl-liter);

	--bg-top: var(--litest);
	--bg-left: var(--dark);
	--bg-right: var(--lite);

	/* --roam-highlight: var(--yellow);
  --roam-highlight-lite: var(--yellow-lite); */
}