@charset 'utf-8';

@import url('https://rsms.me/inter/inter.css');
/* @import './var.css'; */
@import './minireset.css';



/*-- Global ------------------------------------------------------------------*/

html, body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: var(--fnt-sans);
  font-feature-settings: 'calt', 'zero';
  font-size: 16px;
	letter-spacing: var(--t0);
}

hr {
	border-color: var(--secondary-lite);
	margin-top: calc(var(--s1 / 2));
}

div {
  font-family: var(--fnt-sans);
}

a[href] {
  /* color: var(--fg-lite); */
}

a.rm-alias.rm-alias-external {
  /* color: var(--blue); */
}

strong {
	font-weight: var(--wght-strong);
}

del {
	color: var(--fg-liter);
}

textarea {
  font-family: 'Inter var experimental', 'Inter var', Inter;
}

.roam-highlight .rm-block-ref {
	background: var(--roam-highlight-lite);
}

/* Heading */
h1, .rm-title-display, .rm-title-textarea {
  font-size: var(--size-xxl);
  font-weight: var(--wght-title);
  letter-spacing: var(--t3);
}

h1.level2 a {
	/* color: var(--primary); */
}

h2.rm-level2 {
	font-size: var(--size-l);
  font-weight: var(--wght-medium);
  letter-spacing: var(--t1);
}

h3.rm-level3 {
	font-size: var(--size);
  font-weight: var(--wght-medium);
  letter-spacing: var(--t0);
}

.level2 {
  font-family: var(--fnt-sans);
  font-size: var(--size-l);
	font-weight: var(--wght-medium);
  letter-spacing: var(--t1);
}

.CodeMirror {
  font-family: monospace;
}



/*-- App ---------------------------------------------------------------------*/

.roam-body .roam-app {
  color: var(--fg-dark);
}

.roam-center {
  display: flex;
  flex-direction: column;
}

.roam-article {
	margin-top: var(--s0);
}

/* Topbar */
.roam-topbar {
  background: var(--bg-top);
}

.bp3-input-group .bp3-input:not(:first-child) {
  padding-left: 1.875rem;
}
.bp3-input[type='search'] {
  border: none;
  box-shadow: none;
  /* background-color: var(--bg-dark); */
}

/* Left Sidebar */
.roam-body .roam-app 
.roam-sidebar-container {
  background: var(--bg-left);
}

.roam-body .roam-app 
.roam-sidebar-container .roam-sidebar-content 
.log-button {
  /* color: var(--secondary-lite); */
}

.roam-body .roam-app 
.roam-sidebar-container .roam-sidebar-content 
.starred-pages-wrapper .starred-pages .page {
  font-size: var(--size);
  color: var(--lite);
}

#roam-sidebar-logo {
  display: none;
}

/* Right Sidebar */
#right-sidebar {
	background-color: var(--bg-right) !important;
  box-shadow: 0 0 var(--s1) 0.0625em hsla(220, 14%, 12%, 0.07);
}

#roam-right-sidebar-content {
  padding-left: var(--s0);
}

/* All Pages */
#all-pages-search {
  margin-top: var(--s3);
}


/*-- Blocks & Bullets -------------------------------------------------------*/

.roam-block-container {
  border-radius: 0;
}

.block-bullet-view {
  margin-left: 0.375em;
}

.controls {
  align-items: center;
  padding-top: 0;
}

.controls .block-expand {
  display: flex;
  align-items: center;
}

.controls .block-expand .rm-caret {
  align-self: center;
  line-height: var(--ratio);
}

.controls .simple-bullet-outer {
  margin-top: 0;
}

.controls .simple-bullet-outer.roam-bullet-closed {
	background-color: var(--ntrl-litest);
}

.controls .simple-bullet-outer .simple-bullet-inner {
  background-color: var(--dark);
}


/* Page ref links & tags */

.rm-page-ref {
	font-weight: var(--wght-strong);
}

.rm-page-ref-link-color {
  /* color: var(--primary); */
}

.rm-page-ref-tag {
	font-weight: var(--wght);
	color: var(--ntrl-lite);
}

.rm-block-ref {
	background: var(--bg-dark);
	color: var(--fg-lite);
}



/* Controls, buttons, portals */
.bp3-button .bp3-icon,
.bp3-button[class*="bp3-icon-"]::before {
  /* color: var(--secondary-lite); */
}

/* .bp3-button .bp3-icon, 
.bp3-button.bp3-minimal:before, 
.bp3-button[class*="bp3-icon-"]:before {
  color: var(--ntrl-litest);
} */

.bp3-button[class*="bp3-icon-star-empty"]::before {
  /* color: var(--yellow); */
}

.bp3-button[class*="bp3-icon-star"]::before {
  /* color: var(--yellow); */
}

.bp3-popover, .bp3-elevation-3 {
  font-size: var(--size-s);
}

.bp3-menu-item, .rm-menu-item {
  line-height: 1.5;
  padding: var(--s-3) var(--s-2);
}

.bp3-menu-item div {
  line-height: 1.5;
 }

.bp3-menu {
  letter-spacing: normal;
}



/* SLASH FUNCTIONS & TOOLS */

.slider {
  margin: 0 !important;
  padding: var(--s-3) var(--s-2);
  padding-top: var(--s-1);
  border-radius: var(--s-3);
  border: 1px solid var(--fg-liter);
  font-feature-settings: 'tnum', 'zero';
  color: var(--fg-lite);
}

.bp3-slider-axis .bp3-slider-label {
  padding: var(--s-4);
  font-size: var(--s-1);
  line-height: 0.9;
  vertical-align: middle;
}

.bp3-slider-handle .bp3-slider-label {
  padding: var(--s-4);
  box-shadow: none;
  font-size: var(--s-1);
  line-height: 0.9;
  vertical-align: middle;
}

.slider-cell {
  display: none;
}